/** **************************************
* Fonts: app
*************************************** */

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './../components/scrollbar/styles.css';

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  z-index: -1;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #520dcb;
  opacity: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover {
  opacity: 10px;
  border-radius: 10px;
}
